<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/admin/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/admin/createTask">Create Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/tasks">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/urgencies">Urgencies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
    </li>
</ul>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#"
                  th:action="@{/admin/createTask}"
                  th:object="${task}"
                  method="post" class="form-horizontal"
                  role="form">
                <h2>Create a task</h2>
                <div class="form-group">
                    <div class="col-sm-9">

                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                    </div>

                    <div class="col-lg-3">
                        <select class="form-control" id="priorityValue" name="priorityValue">
                            <option value="priorityValue">Priority</option>
                            <option
                                    th:each="priority : ${priorities}"
                                    th:value="${priority.level}"
                                    th:text="${priority.level}"></option>
                        </select>

                    </div>
                </div>


                <label th:if="${error}"
                       class="validation-message">Please choose a correct priority</label>


                <div class="form-group submit">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Validate</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>

</div>
</body>
</html>