<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/admin/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/createTask">Create Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/tasks">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/admin/urgencies">Urgencies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
    </li>
</ul>
<div class="container">

    <div th:if="${info != null}" class="alert alert-success" role="alert">
        <span th:utext="${info}"></span>
    </div>

    <h1>Urgencies !!</h1>
    <div class="col-sm-12">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Priority</th>
            </tr>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.priority.level}"></td>
                <td><a th:href="@{/admin/tasks/delete(id=${task.id})}"><i class="material-icons">delete</i></a>
                <td><a th:href="@{/admin/task/update(id=${task.id})}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>